body {
    margin: 0px;
}

.main-img {
    background: url(images/background.jpg);
    height: 100vh;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.menu--left, .menu--right {
    width: calc(476px + 1rem);
}
.menu--left {
    margin-left: 1rem;
}
.menu--right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
}
.logo{
    height: 50px;
    filter: brightness(10);
}
.menu__item {
    display: flex;
    padding: 0.5rem 0;
}

.menu__icon--left {
    display: flex;
    width: 15px;
}

.menu__icon--right {
    width: 15px;
    margin-right: 0.2rem;
}
.header__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    margin-right: 1rem;
}

/* .room__acoommodation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    border: 1px solid gray;

} */

.room__acoommodation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.room--block{
    display: flex;
    width: 550px;
    /* height: 550px; */
    /* padding: 5px; */
    border: 1px solid black;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}
.img-of-room{
    padding-top: 20px;
    width: 500px;
}
.div__for--select{
    display: flex;
    justify-content: center;
}
.select__designe{
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color:#dcc4a0;
    font-size: 15px;
    border-radius: 20px 20px 0 0;
}

/* .pic{
    width: 500px;
    height: 500px;
    font-size: 16px;
    
    margin: 20px 20px;
} */


/* .img--width{
    width: 500px;
    /* height: 200px; */

/* .room--properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

} */

.img-of-room{
    width: 500px;
}


/* 
.main-img{
    
    
    
    
}
.block1{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.block2{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.block3{
    display: flex;
    flex-direction: row;
    align-content: space-between;
} */







/* .block2{
    background: url(images/logo.png);
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
} */

/* .header1{
    background: black;
    opacity: 50%;
}
.header1 li{
    text-align: blanchedalmond;
} */